[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django = "*"
djangorestframework = "*"
dj-database-url = "*"
psycopg2 = "*"
dj-static = "*"
gunicorn = "*"

[dev-packages]
ipython = "*"
black = "*"
httpie = "*"

[requires]
python_version = "3.8"
